/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "macros.conf"


&mt {
  tapping-term-ms = <201>;
  flavor = "tap-preferred";
};

// ===================
//   LAYERS
// ===================

#define AL1 0
#define AL2 1
#define I18N 2
#define SYM1 3
#define SYM2 4
#define SYS 5
#define NUM 6
#define BT 7

// ===================
//   DELAYS
// ===================

#define HOLDTAP_TAPPING_TERM_MS 190
#define HOLDTAP_QUICK_TAP_MS 250

// ===================
//   LAYOUT
// ===================

/* -------------------------------------- */
/*     0   1   2     |     3   4   5       */
/* 6   7   8   9     |    10  11  12  13  */
/*             14 15 | 16 17              */
/* -------------------------------------- */

/ {
  combos {
    compatible = "zmk,combos";
    combo_bt  {
      timeout-ms = <10>;
      key-positions = <3 4 5>;
      bindings = <&to BT>;
      layers = <SYS>;
    };
    combo_caps {
      timeout-ms = <30>;
      key-positions = <10 11 12>;
      bindings = <&caps_word>;
    };
  };

  behaviors {
    // ---------------------------------------------------
    //    GENERICS
    // ---------------------------------------------------
    hrm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <300>;
      quick-tap-ms = <250>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    ht: holdtap {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <HOLDTAP_TAPPING_TERM_MS>;
      quick-tap-ms = <HOLDTAP_QUICK_TAP_MS>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    htl: holdtap_layer {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <220>;
      quick-tap-ms = <250>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&kp>;
    };

    // ---------------------------------------------------
    //    SPECIAL KEYS
    // ---------------------------------------------------
    mo_rpt: mo_rpt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <HOLDTAP_TAPPING_TERM_MS>;
      quick-tap-ms = <HOLDTAP_QUICK_TAP_MS>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&key_repeat>;
    };
    key_space: key_space {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <HOLDTAP_TAPPING_TERM_MS>;
      bindings = <&ht LC(LA(LGUI)) SPC>, <&kp DOT>;
    };
    key_que_diacs: key_que_diacs {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <HOLDTAP_TAPPING_TERM_MS>;
      quick-tap-ms = <HOLDTAP_QUICK_TAP_MS>;
      flavor = "tap-preferred";
      bindings = <&type_que_grave>, <&type_que_acute>;
    };

    // ---------------------------------------------------
    //    I18N - HOLDING UTF CHARS
    // ---------------------------------------------------
    ht_elli: ht_elli {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <HOLDTAP_TAPPING_TERM_MS>;
      quick-tap-ms = <HOLDTAP_QUICK_TAP_MS>;
      flavor = "tap-preferred";
      bindings = <&utf_ellipsis>, <&kp>;
    };
    ht_ndsh: ht_ndsh {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <HOLDTAP_TAPPING_TERM_MS>;
      quick-tap-ms = <HOLDTAP_QUICK_TAP_MS>;
      flavor = "tap-preferred";
      bindings = <&utf_ndash>, <&kp>;
    };
    ht_ordf: ht_ordf {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <HOLDTAP_TAPPING_TERM_MS>;
      quick-tap-ms = <HOLDTAP_QUICK_TAP_MS>;
      flavor = "tap-preferred";
      bindings = <&utf_fem_ord>, <&kp>;
    };
    ht_ordm: ht_ordm {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <HOLDTAP_TAPPING_TERM_MS>;
      quick-tap-ms = <HOLDTAP_QUICK_TAP_MS>;
      flavor = "tap-preferred";
      bindings = <&utf_masc_ord>, <&kp>;
    };
    ht_mdsh: ht_mdsh {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <HOLDTAP_TAPPING_TERM_MS>;
      quick-tap-ms = <HOLDTAP_QUICK_TAP_MS>;
      flavor = "tap-preferred";
      bindings = <&utf_mdash>, <&kp>;
    };
    ht_agrv: ht_agrv {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <HOLDTAP_TAPPING_TERM_MS>;
      quick-tap-ms = <HOLDTAP_QUICK_TAP_MS>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&type_a_grave>;
    };
    ht_deg: ht_deg {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <HOLDTAP_TAPPING_TERM_MS>;
      quick-tap-ms = <HOLDTAP_QUICK_TAP_MS>;
      flavor = "tap-preferred";
      bindings = <&type_degree>, <&kp>;
    };
    ht_deqt: ht_deqt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <HOLDTAP_TAPPING_TERM_MS>;
      quick-tap-ms = <HOLDTAP_QUICK_TAP_MS>;
      flavor = "tap-preferred";
      bindings = <&utf_german_quote>, <&kp>;
    };
    ht_nbsp: ht_nbsp {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <HOLDTAP_TAPPING_TERM_MS>;
      quick-tap-ms = <HOLDTAP_QUICK_TAP_MS>;
      flavor = "tap-preferred";
      bindings = <&utf_nbsp>, <&kp>;
    };
    ht_000: ht_000 {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <HOLDTAP_TAPPING_TERM_MS>;
      quick-tap-ms = <HOLDTAP_QUICK_TAP_MS>;
      flavor = "tap-preferred";
      bindings = <&type_000>, <&kp>;
    };
  };
  keymap {
    compatible = "zmk,keymap";
    alpha1 {
      bindings = <
                      &hrm LGUI L       &hrm LALT G         &hrm LCTL D              &hrm RCTL H     &hrm LALT U      &hrm LGUI O
        &mt LSHIFT I  &htl SYS  S       &htl SYM2 R         &htl SYM1 T              &htl SYM1 N     &htl SYM2 E      &htl SYS  A      &htl RSHIFT C
                                        &mo_rpt NUM 0       &key_space               &mo I18N        &mo AL2
      >;
    };

    alpha2 {
      bindings = <
                      &hrm LGUI V       &hrm LALT W         &hrm LCTL M              &hrm RCTL F     &hrm LALT Y      &hrm LGUI Z
        &mt LSHIFT Q  &kp  J            &kp  P              &kp  K                   &kp B           &kp  COMMA       &kp  X           &mt RSHIFT SQT
                                        &type_qui           &type_que                &none           &none
      >;
    };

    i18n {
      bindings = <
                   &type_o_grave        &kp RA(Y)           &type_ldotl              &kp RA(J)       &kp RA(U)        &ht RA(P) RA(O)
        &kp RA(I)  &ht_agrv RA(S) 0     &type_e_grave       &type_cio                &kp RA(N)       &kp RA(E)        &ht RA(Q) RA(A)  &kp RA(COMMA)
                                        &type_qui_acute     &key_que_diacs 0 0       &none           &none
      >;
    };

    sym1 {
      bindings = <
                   &ht_ndsh 0 MINUS     &kp STAR            &kp PLUS                 &kp CARET       &ht RA(N9) LPAR  &ht RA(N0) RPAR
        &kp SLASH  &ht RA(RS(N1)) EXCL  &ht RA(QMARK) QMARK &kp BSLH                 &ht_deg 0 PRCNT &ht RA(LBRC) LT  &ht RA(RBRC) GT  &kp SEMICOLON
                                        &none               &kp EQUAL                &none           &none
      >;
    };

    sym2 { bindings = < &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none >; };
//    sym2 {
//      bindings = <
//                    &ht_ordf 0 AT   &ht_ordm 0 HASH    &ht RA(N5) DOLLAR             &kp AMPS    &ht RA(RS(LBKT)) LBRC   &ht RA(RS(RBKT)) RBRC
//         &kp GRAVE  &kp DQT         &ht_mdsh 0 UNDER   &kp PIPE                      &kp TILDE   &ht_deqt 0 BKT          &ht RA(RS(LBKT)) RBKT   &ht_elli 0 COLON
//                                    &none              &utf_nbsp                     &none       &none
//      >;
//    };

    sys {
      bindings = <
                    &kp ESC     &hrm LALT LC(LS(TAB))   &hrm LCTL DEL                &kp BKSP        &ht HOME LEFT  &ht LS(PSCRN) PSCRN
        &none       &kp TAB     &kp LC(TAB)             &kp ENTER                    &ht PG_DN DOWN  &ht PG_UP UP   &ht END RIGHT        &kp RSHIFT
                                &kp LC(C)               &kp LC(V)                    &kp LC(LS(V))   &kp LC(LS(C))
      >;
    };

    num {
      bindings = <
                                &ht EQUAL MINUS &hrm LALT STAR &hrm LCTL PLUS          &hrm RCTL N7  &hrm LALT N8   &ht_nbsp 0 N9
        &ht LC(LA(LGUI)) SLASH  &kp N3          &kp N2         &kp N1                  &kp N4        &kp N5         &kp N6         &ht LC(LA(LS(LGUI))) ENTER
                                                &none          &none                   &ht_000 0 N0  &ht UNDER DOT
      >;
    };

    bt {
      bindings = <
                      &none         &none         &none                   &none    &none    &none
        &bt BT_CLR    &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0            &none    &none    &none    &none
                                    &sys_reset    &bootloader             &none    &none
      >;
    };
  };
};

