/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <201>;
    flavor = "tap-preferred";
};

/ {
    macros {
        test: test {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp E &kp S &kp T>;
            label = "TEST";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alpha {
            bindings = <
&kp B         &kp L     &kp D     &kp W      &kp Z      &kp SQT      &kp F     &kp O      &kp U      &kp J
&mt LSHIFT N  &kp R     &kp T     &kp S      &kp G      &kp Y        &kp H     &kp A      &kp E      &mt RSHIFT I
&kp Q         &kp X     &kp M     &kp C      &kp V      &kp K        &kp P     &kp COMMA  &kp DOT    &kp SLASH     &kp ESC
&mo 3         &kp LGUI  &kp LALT  &kp LCTRL  &kp SPACE  &lt 2 ENTER  &kp BSPC  &mo 1      &kp RCTRL  &mo 4
            >;
        };

        i18n {
            bindings = <
&none             &none             &none             &kp RA(N5)     &none      &none      &none  &kp RA(O)     &kp RA(U)     &kp RA(Y)
&mt LSHIFT RA(N)  &kp RA(N9)        &kp RA(N0)        &kp RA(S)      &none      &none      &none  &kp RA(A)     &kp RA(E)     &mt RSHFT RA(I)
&none             &kp RA(LS(LBKT))  &kp LS(RA(RBKT))  &kp RA(COMMA)  &none      &kp RA(Z)  &none  &kp RA(LBKT)  &kp RA(RBKT)  &kp RA(J)        &none
&kp RA(GRAVE)     &kp RA(SQT)       &kp RA(DQT)       &none          &kp SPACE  &none      &none  &none         &none         &none
            >;
        };

        sym {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none
            >;
        };

        num {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none
            >;
        };

        sys {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none
            >;
        };
    };
};
